<form action="/movies/create" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" name="title">
        <label for="title">Title</label>
    </div>
    <div class="form-floating">
        <textarea rows="3" class="form-control" id="description" name="description"></textarea>
        <label for="description">Description</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="year" name="year">
        <label for="year">Year</label>
    </div>
    <button class="btn btn-primary">Create</button>
</form>